/* Estado de la página */
body {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

body.is-ready {
    opacity: 1;
    display: flex;
    flex-direction: row;
    margin: 0 9.38rem;
    height: 100%;
    background-color: #f4f1dd;
    color: #656058;
    color: #656058;
    font-family: Open Sans, sans-serif;
}

/* Fuente para el texto */
h1, h2, h3, span, p, button, .welcome{
    color: #656058;
    font-family: Open Sans, sans-serif;
}