<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modales</title>
</head>
<body>
    <div id="container-create" class="modal">
        <div class="modal-content-area">
            <h2 class="modal-title">Options</h2>
            <a href="/editor.html" class="container-item">
                <svg class="icon icon-modal"><title>Icon note</title><use href="assets/icons.svg#icon-note"></use></svg>
                <span>New note</span>
            </a>
        </div>
        <button class="close-btn" aria-label="Close menu">
            <svg class="icon icon-close"><title>Icon close</title><use href="assets/icons.svg#icon-close"></use></svg>
        </button>
    </div>

    <div id="container-note-options" class="modal">
        <div class="modal-content-area">
            <h2 id="name-file" class="modal-title"></h2>
            <button id="delete-file" class="container-item" aria-label="delete file">
                <svg class="icon icon-modal"><title>Icon delete</title><use href="assets/icons.svg#icon-delete"></use></svg>
                <span>Delete</span>
            </button>
        </div>
        <button class="close-btn" aria-label="Close menu">
            <svg class="icon icon-close"><title>Icon close</title><use href="assets/icons.svg#icon-close"></use></svg>
        </button>
    </div>
    
    <div id="container-insert" class="modal">
        <div class="modal-content-area">
            <h2 class="modal-title">Insert</h2>
            <button class="container-item" aria-label="new image insert">
                <svg class="icon icon-modal"><title>Icon image</title><use href="assets/icons.svg#icon-image"></use></svg>
                <span>Image</span>
            </button>
            <button class="container-item" aria-label="new video insert">
                <svg class="icon icon-modal"><title>Icon video</title><use href="assets/icons.svg#icon-video"></use></svg>
                <span>Video</span>
            </button>
            <button class="container-item" aria-label="new audio insert">
                <svg class="icon icon-modal"><title>Icon audio</title><use href="assets/icons.svg#icon-audio"></use></svg>
                <span>Audio</span>
            </button>
        </div>
        <button class="close-btn" aria-label="Close menu">
            <svg class="icon icon-close"><title>Icon close</title><use href="assets/icons.svg#icon-close"></use></svg>
        </button>
    </div>

    <div id="container-format" class="modal">
        <div class="modal-content-area">
            <h2 class="modal-title">Format</h2>
            <button class="container-item" aria-label="Font bold">
                <span style="font-weight: 800;">Bold</span>
            </button>
            <button class="container-item" aria-label="Font italic">
                <span style="font-style: italic;">Italic</span>
            </button>
            <button class="container-item" aria-label="Font underline">
                <spanstyle="text-decoration: underline;">Underline</span>
            </button>
            <button class="container-item" aria-label="Font list">
                <span>• List</span>
            </button>
            <button class="container-item" aria-label="Font check">
                <span>☐ Check</span>
            </button>
        </div>
        <button class="close-btn" aria-label="Close menu">
            <svg class="icon icon-close"><title>Icon close</title><use href="assets/icons.svg#icon-close"></use></svg>
        </button>
    </div>
</body>
</html> 